<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <!-- Website Logo -->
  <link rel="icon" href="images/clipboard1.png">

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
